/* carousel settings */
.carousel {
  height: 70px;
  width: 100%
}
.list_item {
  padding: 0;
  height: 70px;
}
.list_carousel_select {
  padding: 0px;
  box-sizing: border-box;
  line-height: 70px;
}
.list_carousel_item {
  padding: 0 12px;
  box-sizing: border-box;
}

/* select area */
.flex {
  display: flex;
  height: 100%;
  width: 100%;
}
.flex_child {
  height: 100%;
  flex: 1;
  text-align: center;
}
.flex_bad {
  background: #F6D4D8;
}
.flex_normal {
  background: #FCF1D3;
}
.flex_good {
  background: #C9E8F1;
}

/* other */
.name {
	margin-top: 10px;
  padding-left: 10px;
  width: 60%;
}
.image {
  width: 55px;
  height: 55px;
  background: #ddd;
  border-radius: 5px;
  margin: auto 0;
}
.status {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 65px;
  text-align: center;
  width: 70px;
}
.normal {
  height: 100%;
  background: #FCF1D3;
}
.good {
  height: 100%;
  background: #C9E8F1
}
